# Ignore log files, attachments, backups, blacklists, uploads, and specific static and template files
/logs
/attachments
/backup
/blacklists
/uploads
/data
static/1x1.png
static/img/1x1.png
templates/welcome.html
config.json
data/templates/Newsletter.html
data/templates/Newsletter.meta.json
data/uploads/20260414_185715_contacts.csv
